.login-landing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#forgot-password-text {
  font-size: 12px;
  color: #ababab;
  font-weight: 500;
}

#forgot-password-text:hover {
  color: #8b8383;
  cursor: pointer;
  text-decoration: underline;
}