:root {
  --background-gradient: linear-gradient(270deg, #353535, #222222);
  --primary-light-gray: #c0c0c0;
  --secondary-light-gray: #8b8383;
  --primary-gray: #4a4949;
  --secondary-gray: #615d5d;
  --error-red: #cf4747;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 0%;
  }

  75% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  background: var(--background-gradient);

  background-size: 400% 400%;

  animation: gradientShift 10s ease infinite;

  margin: 0;

  display: flex;

  place-items: center;

  min-width: 320px;

  min-height: 100vh;

  color: var(--primary-light-gray);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
