.select-label {
    font-size: .75rem;
    color: var(--primary-light-gray);
    font-weight: 500;
}

.select-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--primary-gray);
    border: 1.5px solid var(--secondary-gray);
    line-height: 1.5rem;
    color: var(--primary-light-gray);
    font-size: 1rem;
    min-width: 13rem;
}

.select-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}