div .error-text {
    color: var(--error-red);
    font-weight: 600;
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.error-text.md {
    font-size: 1rem;
}

.error-text.sm {
    font-size: 0.75rem;
}

.error-text.lg {
    font-size: 1.5rem;
}