div .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 1.5rem 1.5rem;
    gap: 1.25rem;
    align-items: center;
    background-color: var(--primary-gray);
    border-radius: 15px;
    border: 1px solid var(--secondary-gray);
}