div .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 1.5rem 1.5rem;
    gap: 1.25rem;
    align-items: center;
    background-color: #595757;
    border-radius: 15px;
    border: 1px solid #615d5d;
}