button {
    width: 100%;
    padding: .625rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #615d5d;
    color: #ababab;
    font-size: 1rem;
    cursor: pointer;
    width: 75%;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

button:hover {
    transform: scale(1.05);
    transition: ease-in-out transform 0.4s, background-color 0.4s, color 0.4s;
    background-color: #ababab;
    color: #615d5d;
}

button:active {
    transform: scale(0.98);
    transition: transform 0.1s;
}